<button mat-button [matMenuTriggerFor]="companies">Companies</button>
<mat-menu #companies="matMenu" yPosition="below">
  <button mat-menu-item [routerLink]="'/companies'">List</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="users">Users</button>
<mat-menu #users="matMenu" yPosition="below">
  <button mat-menu-item [routerLink]="'/user'">List</button>
</mat-menu>


<button mat-button [matMenuTriggerFor]="employees" >Employees</button>
<mat-menu #employees="matMenu" yPosition="below">
  <button mat-menu-item [routerLink]="'/employees'">List</button>
  <button mat-menu-item [routerLink]="'/studentWizard'">Student Wizard</button>
</mat-menu>


<button *ngIf="loginFlag" mat-button [matMenuTriggerFor]="login" [routerLink]="'/login'">Login</button>
<button *ngIf="!loginFlag" mat-button  (click) = "logout()">Logout</button>
<mat-menu #login="matMenu">
</mat-menu>
