<mat-toolbar color="primary">
  <span>Created Academic Years</span>
  <span class="spacer"></span>
  Reload data:
  <button mat-icon-button (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>

<div class="mat-elevation-z8">

  <div class="form">
      <mat-form-field floatPlaceholder="never" color="accent">
        <input matInput #filter placeholder="Filter issues">
      </mat-form-field>
    </div>

  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container *ngFor="let column of columns" matColumnDef="{{column.name}}">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{column.label}}</th>
      <td mat-cell *matCellDef="let element"> {{element[column.name]}} </td>
    </ng-container>

     <!-- actions -->
    <ng-container matColumnDef="CurrentAcademic">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>CurrentAcademic</th>
      <td mat-cell *matCellDef="let row; let i=index;">
        <mat-slide-toggle [checked]="row.IsCurrentAcademic" (change) = "isCurrentAcademic(row.AcademicID, row.IsCurrentAcademic)"></mat-slide-toggle>
      </td>
    </ng-container>
    <ng-container matColumnDef="Active">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Active</th>
      <td mat-cell *matCellDef="let row; let i=index;">
        <mat-slide-toggle [checked]="row.IsActive" (change) = "isActive(row.AcademicID, row.IsActive)"></mat-slide-toggle>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="no-results" [style.display]="dataSource.length == 0 ? '' : 'none'">
    No results
  </div>

  <mat-paginator #paginator
                  [length]="dataSource.length"
                  [pageIndex]="0"
                  [pageSize]="10"
                  [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
  </mat-paginator>

</div>


<!-- Copyright 2019 Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license -->
