<div class="container">
    <h3 mat-dialog-title>Add new Company</h3>

    <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

      <!--Textarea for demo purposes-->
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="Company Name" [(ngModel)]="data.companyname" name="companyname" required >
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <!--Contains mat-hint for characters count and has maxLengt set-->
      <div class="form">
        <mat-form-field color="accent">
          <textarea matInput #inputstate class="form-control" placeholder="Address" [(ngModel)]="data.address" name="address" maxlength="100" required ></textarea>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput #inputstate class="form-control" placeholder="City" [(ngModel)]="data.city" name="city" maxlength="100" required >
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput #inputstate class="form-control" placeholder="Mobile" [(ngModel)]="data.mobile" name="mobile" maxlength="100" required >
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          <mat-hint align="end">{{inputstate.value?.length || 0}}/10</mat-hint>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput #inputstate class="form-control" placeholder="Email" [(ngModel)]="data.email" name="email" maxlength="100" required >
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Days To add" [(ngModel)]="data.numberofdays" name="numberofdays" type="number" required>
        </mat-form-field>
      </div>

      <div mat-dialog-actions>
        <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
        <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
      </div>
    </form>
  </div>
