<div>
  <h4 class="academic-header">New Academic</h4>
  <form layout layout-align="center" layout-padding>
      <div layout="row" flex>
        <div class="academic-container">
          <mat-form-field>
            <mat-label>Academic Year Name</mat-label>
            <input matInput [formControl]="academicNameController" required>
            <mat-error *ngIf="academicNameController.invalid">{{getAcademicNameError()}}</mat-error>
          </mat-form-field>
        </div>
        <div class="academic-container">
          <mat-form-field >
            <input matInput [matDatepicker]="picker" placeholder="Choose Start Date"  [formControl]="academicStartDateController" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
            <mat-error *ngIf="academicStartDateController.invalid">{{getAcademicStartDateError()}}</mat-error>
          </mat-form-field>
        </div>
        <div class="academic-container">
          <mat-form-field>
            <input matInput type="number" placeholder="Academic End Year"  [formControl]="academicEndYearController"  required>
            <mat-error *ngIf="academicEndYearController.invalid">{{getAcademicEndYearError()}}</mat-error>
          </mat-form-field>
        </div>
        <div class=" academic-container btn">
          <button mat-button class=" mat-raised-button " type="button" (click) = "startNewAcademics()" >Start Academic</button>
        </div>
      </div>
  </form>
</div>
