.academic-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top : 4%;
  font-family: 'Tangerine', serif;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
  height: 70%;
}
