.parent {height: 100px;}
.left   {background-color: cyan;}
.right  {background-color: yellow;}
.profile-container {
  display: flex;
  flex-direction: column;
  font-family: Roboto, Arial, sans-serif;
  margin-top: 5%;
}

.profile-container > * {
  width: 100%;
}

.profile-container-right {
  display: flex;
  flex-direction: column;
  font-family: Roboto, Arial, sans-serif;
  margin-top: 8%;
}

.profile-container-right > * {
  width: 100%;
}

.button-submit {
  margin-left: 50%;
  margin-top: 2%;
}
