<div class="card m-3">
  <h5 class="card-header">Examinations</h5>
  <div class="card-body">
      <div class="form-row">
          <div class="form-group col-2">
              <label>Academics</label>
          </div>
          <div class="form-group col-2">
            <select [(ngModel)]="selectedAcademic"  class="form-control">
                <option [value]=""></option>
                <option *ngFor="let academic of academicsNames" [value] = "academic.AcademicID">{{academic["AcademicName"]}}</option>
            </select>
        </div>
        <div class="form-group col-2">
          <button class="btn btn-primary mr-1" (click) = 'onSubmitAcademic()'>List Exams</button>
        </div>
        <div class="form-group col-2">
          <button class="btn btn-primary mr-1" [routerLink]="'/add-new-exam'">AddNew</button>
        </div>

      </div>
  </div>
</div>
<div class="card m-3" >
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">ExamName</th>
          <th scope="col">ExamFor</th>
          <th scope="col">SectionID</th>
          <th scope="col">CreatedDate</th>
          <th scope="col">TotalMarks</th>
          <th scope="col">ExamDate</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of examData; let num = index">
          <th scope="row">{{num}}</th>
          <td>{{row.ExamName}}</td>
          <td>{{row.ExamFor}}</td>
          <td>{{row.sectionID}}</td>
          <td>{{row.CreatedDate}}</td>
          <td>{{row.TotalMarks}}</td>
          <td>{{row.ExamDate}}</td>
          <td>
            <button mat-icon-button color="accent" (click)="startEdit(num, row.ExamID, row.sectionID, row.ExamName, row.ExamFor, row.TotalMarks, row.ExamDate, row.CreatedDate)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
        </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
