<mat-grid-list cols="6" rowHeight="3:4">
  <mat-grid-tile>
    <mat-icon aria-hidden="true" aria-label="acadamicYear" [routerLink]="'/academic'" >calendar_today</mat-icon>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-icon aria-hidden="true" aria-label="acadamicYear" [routerLink]="'/classes-sections-list'" >class</mat-icon>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-icon aria-hidden="true" aria-label="acadamicYear" [routerLink]="'/academic-list'" >reorder</mat-icon>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-icon aria-hidden="true" aria-label="acadamicYear" [routerLink]="'/new-admission'" >group_add</mat-icon>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-icon aria-hidden="true" aria-label="acadamicYear" [routerLink]="'/student-list'" >ballot</mat-icon>
  </mat-grid-tile>
</mat-grid-list>
