
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" >

  <div class="rigister-form-left">
    <div class="form-group">
        <label for="profileimg">Profile Image</label>
        <img [src]="url_profile" height="200"> <br/>
        <input type="file" formControlName="profileimg"  (change)="onSelectFile($event, 'profile')" />
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">First Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Last Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="mobile">Mobile Number</label>
        <input type="text" formControlName="mobile" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" />
        <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
            <div *ngIf="f.mobile.errors.required">Mobile Number is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="city">City</label>
        <input type="text" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
        <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
            <div *ngIf="f.city.errors.required">City is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="address">Address</label>
        <input type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
        <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
            <div *ngIf="f.address.errors.required">address is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="whatsup">WhatsUp Number</label>
        <input type="text" formControlName="whatsup" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.whatsup.errors }" />
        <div *ngIf="submitted && f.whatsup.errors" class="invalid-feedback">
            <div *ngIf="f.whatsup.errors.required">whatsup is required</div>
            <div *ngIf="f.whatsup.errors.minlength">Number must have 10 characters</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Register
        </button>
        <a routerLink="/login" class="btn btn-link">Cancel</a>
    </div>
  </div>
  <div class="rigister-form-right">
    <div class="form-group">
        <label for="comapnylogo">Comapany Image</label>
        <img [src]="url_cl" height="200"> <br/>
        <input type="file" formControlName="comapnylogo"  (change)="onSelectFile($event,'cl')" />
    </div>
    <div class="form-group">
      <label for="companyname">Company Name</label>
      <input type="text" formControlName="companyname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.companyname.errors }" />
      <div *ngIf="submitted && f.companyname.errors" class="invalid-feedback">
          <div *ngIf="f.companyname.errors.required">companyname is required</div>
      </div>
  </div>
  <div class="form-group">
    <label for="numberofdays">Number Of Days </label>
    <input type="number" formControlName="numberofdays" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.numberofdays.errors }" />
    <div *ngIf="submitted && f.numberofdays.errors" class="invalid-feedback">
        <div *ngIf="f.numberofdays.errors.required">numberofdays is required</div>
    </div>
</div>
  </div>
</form>
